:root {
  --p-color: #682cda;
  --bg-color: #f7f7fc;
}

.section-container {
  background-color: var(--bg-color);
  border-radius: 30px;
  height: 100%;
  padding: 0.75em 1em;
margin-bottom: 1em;
}

.section-container-height-auto {
  height: auto;
}

.section-title {
  font-size: 24px;
}

.secondary-btn {
  border: 2px solid var(--p-color);
  box-sizing: border-box;
  border-radius: 40px;
  font-size: 14px;
  padding: 1em;
}

img {
    width: 100%;
  }

/* Popup style */
.popup-box {
    position: fixed;
    background: #00000050;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
  }
   
  .box {
    position: relative;
    width: 70%;
    margin: 0 auto;
    height: auto;
    max-height: 70vh;
    margin-top: calc(100vh - 85vh - 20px);
    background: #fff;
    border-radius: 4px;
    padding: 20px;
    border: 1px solid #999;
    overflow: auto;
  }

/* Header */
header ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

header ul li {
  margin: 0 1em;
}
